@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');


/* Reset CSS */
*{
  margin: 0;
  padding: 0;
}

html, body {
    font-family: "Catamaran", sans-serif;
    background-color: #19242f;
    color: #eee;
}

body {
    margin: 50px;
}

h1 {
    text-align: center;
    font-weight: 700;

}

h2 {
    font-family: "Catamaran", sans-serif;
    color: #ff4043;
    font-size: 25px;
    font-weight: 400;

    border-top: solid 1px #474545;
    padding-top: 30px;
    margin-top: 40px;
}

/* Color */
.red {
    background-color: #e74c3c;
}

.green{
    background-color: #1abc9c;
}

.blue {
    background-color: #3498db;
}

.yellow {
    background-color: #f1c40f;
}